.diary_list_1 .card-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -2px;
  background-color: #b8cee8;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}
z .diary_list_1 > .card {
  margin: 45px 30px;
}
