.main_navbar,
.main_navbar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
}

.main_navbar {
  padding: 38px 160px;
}

@media screen and (max-width: 1003px) {
  .main_navbar2 {
    display: none;
  }
}

.navbar {
  padding: 0px;
  background-color: var(--main-color);
}

.container-fluid {
  background-color: var(--main-color);
}

.nav-brand22,
.navbar-brand {
  font-size: 18px;
  font-weight: bold;
  opacity: 0.5;
}

.nav-brand22 {
  font-size: 25px;
}

.collapse {
  padding-left: 50px;
}

.nav-item {
  padding-right: 30px;
  font-size: 18px;
  font-weight: bolder;
}

.navbar-toggler {
  display: none;
}

.main_navbar2 nav:last-child .container-fluid {
  padding-left: 25px;
}

.main_navbar2 span {
  font-weight: bold;
  opacity: 0.5;
}
