@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

/* font */
* {
  font-family: "Gowun Dodum", sans-serif;
}

.diary_list_1 .card-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -2px;
  background-color: #b8cee8;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.diary_list_1 > .card {
  margin: 45px 30px;
}

.diary_lists_1 > .card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}