@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

/* font */
* {
  font-family: "Gowun Dodum", sans-serif;
}

.personal_body {
  background-color: #4c6676;
}

.personal_diary_contents {
  display: flex;
  justify-content: center;
  margin-top: 50px
}

.diary_list_1 {
  width: 880px;
  height: 100%;
  background-color: white;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 40px;
  padding: 20px;
}

.card {
  margin: 50px 20px 0px 20px;
  width: 755px;
  border-radius: 30px;
}

.card-body_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 14px;
  margin-left: 14px;
  padding-top: 23px;
  font-size: 20px;
  height: 218px;
}

.card-body_Contents {
  margin-right: 14px;
  margin-left: 14px;
  padding-top: 23px;
  font-size: 20px;
  height: 200px;
}

.card-header .card-header-title {
  margin-top: 15px;
}

.card-body h6 {
  padding: 5px 0px 0px 0px;
}

.first_h6 {
  margin-top: 15px;
}

.diary_lists_1 {
  display: flex;
  padding-bottom: 25px;
  margin: 20px;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.shadow_personal:hover {
  box-shadow: rgba(200,200,200,0.5) 0px 7px 29px 0px;
}

.form-control:focus {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-color: rgba(100, 100, 111, 0.2);
}

.input-group-text {
  background-color: #B7CFE8;
}