.personal_body {
  background-color: #4c6676;
}

.personal_diary_contents {
  display: flex;
  justify-content: flex-start;
}

.diary_list_1 {
  width: 880px;
  height: 100%;
  background-color: white;
  margin: 50px;
  border-radius: 40px;
}

.card {
  margin: 50px 0px 0px 20px;
  height: 218px;
  border-radius: 30px;
}
.card-body {
  margin-left: 20px;
  padding-top: 23px;
}

.card-body h6 {
  padding: 5px 0px;
}

.first_h6 {
  margin-top: 15px;
}