@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

/* font */
* {
    font-family: "Gowun Dodum", sans-serif;
}

.diary_list_2 .card-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -2px;
    background-color: var(--yellow-color);
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
}

z .diary_list_2 > .card {
    margin: 45px 30px;
}

.diary_list_2 > .card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.gongamBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #f7f7ef;
}

.gongamBtn:hover {
    cursor: pointer;
    border: none;
}

.gongamBtn:focus {
    outline: none;
}

.fa-heart {
    color: #ef9a9a;
    transition: transform 0.1s ease-in-out;
}

.fa-heart:hover {
  color: #e57373;
  transform: scale(1.3);
}
