<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">

    <title>LOGIN</title>
    <link rel="stylesheet" href="style.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body>
    <section class="login-from">
        <h1>공감 다이어리 로고</h1>
        <form action="">
            <div class="int-area">
                <input type="text" name="id" id="id"
                       autocomplete="off" required>
                <label for="id">USER NAME</label>
            </div>
            <div class="int-area">
                <input type="password" name="pw" id="pw"
                       autocomplete="off" required>
                <label for="pw">PASSWORD</label>
            </div>
            <div class="btn-area">
                <button id="btn" type="submit" onclick="postId">LOGIN</button>
            </div>
        </form>
        <div class="caption">
            <a href="">Sign Up</a>
        </div>
    </section>

    <script>
        let id = $('#id');
        let pw = $('#pw');
        let btn = $('#btn');

        $(btn).on('click', function() {
            if ($(id).val() == "") {
                $(id).next('label').addClass('warning');
                setTimeout(function () {
                    $('label').removeClass('warning')
                },1500);
            }
            else if ($(pw).val() == "") {
                $(pw).next('label').addClass('warning');
                setTimeout(function () {
                    $('label').removeClass('warning')
                },1500);
            }
        });

        // function postId() {
        //     console.log()
        //     $.ajax({
        //         type: "POST",
        //         url: "/id",
        //         data: {sample_give: '샘플데이터'},
        //         success: function (response) { // 성공하면
        //             alert(response["msg"]);
        //             console.log()
        //         }
        //     })
        // }

    </script>

</body>
</html>