<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">

    <title>LOGIN</title>
    <link rel="stylesheet" href="../static/css/style.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script>

        $(document).ready(function () {
            // show_orders();
        });

        function order() {
                //html중 입력 받는 input의 id value 각 각을 변수로 만듬
                let id = $('#id').val()
                let em = $('#em').val()
                let pw = $('#pw').val()
                let pwcf = $('#pwcf').val()
                $.ajax({
                    type: "POST",
                    url: "/register",
                    data: {name_give:id, email_give:em,password_give:pw,
                    pwcf_give:pwcf},
                    success: function (response) { // 성공하면
                        if(response['ans']=='success'){
                            alert(response["msg"]);
                            window.location.reload()
                            // location.replace("index.html")
                        }else{
                            alert(response["msg"]);
                            window.location.reload()
                        }
                    }
                })
            }

            //원하는 db데이터만 가져와지는지 확인
            function show_orders() {
                $.ajax({
                    type: "GET",
                    url: "/order",
                    data: {},
                    success: function (response) {
                        let test1 = response['all_orders']
                        for (let i =0; i<test1.length; i++){
                            let name = test1[i]['name']
                            let em = test1[i]['email']
                            //th는 테이블에서 헤더역할

                            let tmp_html = `<tr>
                                                <th scope="row">${name}</th>
                                                <td>${em}</td>
                                            </tr>`
                            $('#orders').append(tmp_html)



                        }
                    }
                })
            }
    </script>
    <!--미입력 시 경고창-->
  <script>
        let id = $('#id');
        let em = $('#em');
        let pw = $('#pw');
        let pwcf = $('#pwcf');
        let btn = $('#btn');

        $(btn).on('click', function() {
            if ($(id).val() == "") {
                $(id).next('label').addClass('warning');
                setTimeout(function () {
                    $('label').removeClass('warning')
                },1500);
            }
            else if ($(em).val() == "") {
                $(em).next('label').addClass('warning');
                setTimeout(function () {
                    $('label').removeClass('warning')
                },1500);
            }
            else if ($(pw).val() == "") {
                $(pw).next('label').addClass('warning');
                setTimeout(function () {
                    $('label').removeClass('warning')
                },1500);
            }
            else if ($(pwcf).val() == "") {
                $(pwcf).next('label').addClass('warning');
                setTimeout(function () {
                    $('label').removeClass('warning')
                },1500);
            }
        });
    </script>

</head>
<!---->
<body>
    <section class="login-from">
        <h1>공감 다이어리 로고</h1>
        <form action="">
            <div class="int-area">
                <!--아이디-->
                <input type="text" name="id" id="id"
                       autocomplete="off" required>
                <label for="id">USER NAME</label>
            </div>
                <!--이메일-->
            <div class="int-area">
                <input type="text" name="em" id="em"
                       autocomplete="off" required>
                <label for="em">USER EMAIL</label>
            </div>
                <!--패스워드-->
            <div class="int-area">
                <input type="text" name="pw" id="pw"
                       autocomplete="off" required>
                <label for="pw">PASSWORD</label>
            </div>
                <!--패스워드 확인-->
            <div class="int-area">
                <input type="text" name="pwcf" id="pwcf"
                       autocomplete="off" required>
                <label for="pwcf">PASSWORD CONFIRM</label>
            </div>
                <!--회원가입 진행-->
            <div class="btn-area">
                <button id="btn" type="submit" onclick="order()">SIGN UP</button>
            </div>
        </form>
            <!--로그인 페이지 이동-->
        <div class="caption">
            <a href="http://192.168.35.168:5500/login">LOGIN Page</a>
        </div>
    </section>


<!--    DB데이터 확인용-->
<!--    </div>-->
<!--    <table class="table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th colspan="2" scope="colgroup">주문자 정보</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th scope="col">id</th>-->
<!--            <th scope="col">pw</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody id="orders">-->
<!--        </tbody>-->
<!--    </table>-->




</body>
</html>