<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">

    <title>LOGIN</title>
    <link rel="stylesheet" href="style.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body>
    <section class="login-from">
        <h1>공감 다이어리 로고</h1>
        <form action="">
            <div class="int-area">
                <!--아이디-->
                <input type="text" name="id" id="id"
                       autocomplete="off" required>
                <label for="id">USER NAME</label>
            </div>
                <!--이메일-->
            <div class="int-area">
                <input type="text" name="em" id="em"
                       autocomplete="off" required>
                <label for="em">USER EMAIL</label>
            </div>
                <!--패스워드-->
            <div class="int-area">
                <input type="password" name="pw" id="pw"
                       autocomplete="off" required>
                <label for="pw">PASSWORD</label>
            </div>
                <!--패스워드 확인-->
            <div class="int-area">
                <input type="password" name="pwcf" id="pwcf"
                       autocomplete="off" required>
                <label for="pwcf">PASSWORD CONFIRM</label>
            </div>
                <!--회원가입 진행-->
            <div class="btn-area">
                <button id="btn" type="submit" onclick="postId">SIGN UP</button>
            </div>
        </form>
            <!--로그인 페이지 이동-->
        <div class="caption">
            <a href="http://localhost:63342/making%20challenge%2012th/Git-Prac/LOGIN/index.html?_ijt=uies2tb6g95pfi35rithugmv3v&_ij_reload=RELOAD_ON_SAVE">LOGIN Page</a>
        </div>
    </section>

    <script>
        let id = $('#id');
        let em = $('#em');
        let pw = $('#pw');
        let pwcf = $('#pwcf');
        let btn = $('#btn');

        $(btn).on('click', function() {
            if ($(id).val() == "") {
                $(id).next('label').addClass('warning');
                setTimeout(function () {
                    $('label').removeClass('warning')
                },1500);
            }
            else if ($(em).val() == "") {
                $(em).next('label').addClass('warning');
                setTimeout(function () {
                    $('label').removeClass('warning')
                },1500);
            }
            else if ($(pw).val() == "") {
                $(pw).next('label').addClass('warning');
                setTimeout(function () {
                    $('label').removeClass('warning')
                },1500);
            }
            else if ($(pwcf).val() == "") {
                $(pwcf).next('label').addClass('warning');
                setTimeout(function () {
                    $('label').removeClass('warning')
                },1500);
            }
        });

        // function postId() {
        //     console.log()
        //     $.ajax({
        //         type: "POST",
        //         url: "/id",
        //         data: {sample_give: '샘플데이터'},
        //         success: function (response) { // 성공하면
        //             alert(response["msg"]);
        //             console.log()
        //         }
        //     })
        // }

    </script>

</body>
</html>