.diary_list .card-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -2px;
  background-color: var(--yellow-color);
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}
z .diary_list > .card {
  margin: 45px 30px;
}
